@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins-Regular";
}
body{
    background: var(--color-ternario);
}

.header{
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    /*/background: darkgoldenrod;/*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 2;
    top: 0;
    /*background: var(--color-primario);*/
}
.header__logo{
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;

}
.icono_img{
    width: 2.5em;
    z-index: 2;
    color: var(--color-ternario);
}

.logo__titulo{
    /* background: orange; */
    color: var(--color-ternario);
    font-family: "Poppins_Bold";
    text-transform: uppercase;
}

.header__menu i{
    font-size: 3em;
    color: var(--color-ternario);
}





.balance{
    /*background: red;*/
    width: 100%;
    height: 32vh;
    position: relative;
    overflow: hidden;
}
.balance_circle{
    background: var(--color-primario);
    width: 110%;
    height: 53vh;
    border-radius: 100%;
    position: absolute;
    top: -460px;
    left: -20px;
    right: 0;
    margin: 0 auto;
    scale: 2;
}
.balance_circle div{
    width: 20px;
    height: 20px;
    /*background: red;*/
    position: relative;
    top: 100px;
}
.balance_total{
    background: var(--color-secundario);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-ternario);
    font-family: "Poppins_Bold";
    text-transform: capitalize;
}
.balance_total div{
    margin-top: 65px;
}


.report{
    width: 100%;
    position: relative;
    padding: 15px .8em;
}
.report_accounting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.report_accounting button{
    background: var(--color-ternario);
    padding: 5px 15px;
    border-radius: 15px;
    font-family: "Poppins-Regular";
    font-size: 1em;
    border: 1px solid var(--color-cuarto);
    color: var(--color-cuarto);
    text-transform: capitalize;
}
.report_accounting button:nth-child(1){
    background: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-ternario);
}
.report_accounting button:nth-child(2){
    background: var(--color-ternario);
    border-color: var(--color-secundario);
    color: var(--color-secundario);
}
.report_accounting button:nth-child(3){
    background: var(--color-ternario);
    border-color: var(--color-cuarto);
    color: var(--color-cuarto);
}

.report_week img{
    width: 100%;
    height: 25vh;
    object-fit: contain;
    margin-top: 15px;
}

.process{
    background: var(--color-secundario-transparent);
    height: 150px;
    position: absolute;
    bottom: 50px;
    display: flex;
    padding: 0 0.8rem;
}
.process_card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_image{
    flex: 1;
}
.card_image img{
    width: 100%;
    object-fit: contain;
}
.card_description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    flex: 2;
}
.card_description div h3{
    text-transform: capitalize;
    color: var(--color-primario);
    font-family: "Poppins_Bold";
}
.card_description div p{
    color: var(--color-primario);
    font-family: "Poppins_Light";
}
.description_close2 i {
    border-radius: 100%;
    padding: 5px;
    background: var(--color-secundario);
    color: var(--color-ternario);
}
/*main{
    bottom: 0;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}*/
/*
.circulo{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circulo h2{
    color: var(--color-ternario);
}
.main_statistics{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.statistics_one{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.statistics_one div{
    border: 2px solid black;
    border-radius: 50px;
    padding: 2% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statistics_one div:nth-child(1){
    background: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-ternario);
}
.statistics_one div:nth-child(2){
    border-color: var(--color-secundario);
    color: var(--color-secundario);
}
.statistics_one div:nth-child(3){
    border-color: var(--color-cuarto);
    color: var(--color-cuarto);
}
.statistics_two{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.main_spending{
    background: #e1ffef;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.spending_img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spending_img img{
    width: 100%;
    padding: 10px;
    align-self: flex-end;
}
.spending_text{
    padding-right: 10px;
}
.description_close2{
    width: 100%;
    text-align: right;
    padding-top: 10px;
}
.description_close2 i {
    border-radius: 100%;
    padding: 5px;
    background: var(--color-secundario);
    color: var(--color-ternario);
}*/


footer{
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}
footer ul {
    margin: 0.5em 0;
    display: flex;
    justify-content: space-around;
}
footer ul li {
    list-style: none;
}
footer ul li a i{
    font-size: 1.8em;
    text-align: center;
    color: var(--color-ternario);
}