@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins_Regular";
}
body{
    background: linear-gradient(45deg, var(--color-primario), var(--color-secundario));
}
.banner{
    position: absolute;
    z-index: -1;
}
.banner img{
    width: 100%;
    height: 105vh;
    object-fit: cover;
}
.header{
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    /*/background: darkgoldenrod;/*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 2;
    top: 0;
    
}
.header__logo{
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;

}
.icono_img{
    width: 2.5em;
}
.logo__icono{
    /* background: green; */
}
.logo__titulo{
    /* background: orange; */
    color: var(--color-ternario);
    font-family: "Poppins_Bold";
    text-transform: uppercase;
}
.header__menu{
    /* background: darkblue; */
}
.header__menu i{
    font-size: 3em;
    color: var(--color-ternario);
}


.main__titulo{
    /*/background: red;/*/
}
.titulo__card{
    /*/background: green;/*/
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
    padding: 0 0.5em;
}
.titulo__card h2,
.titulo__card p{
    font-size: 2.3em;
    color: var(--color-ternario);
    text-transform: capitalize;
}
.titulo__card h2{
    font-family: "Poppins_Semibold";
}
.titulo__card P{
    font-family: "Poppins_Light";
    text-transform: capitalize;
}


.titulo__balance{
    /*/background: fuchsia;/*/
    color: var(--color-ternario);
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}
.balance__one,
.balance__two{
    display: flex;
    flex-direction: column;
}
.balance__one small,
.balance__two small{
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Poppins_Medium";
}
.balance__one label,
.balance__two label{
    font-size: 1.3em;
    font-family: "Poppins_Bold";
}
.balance__one progress[value] {
    --color: var(--color-secundario);
    --background: var(--color-ternario);
    background: var(--background);
}

.balance__two progress[value] {
    --color: var(--color-cuarto);
    --background: var(--color-ternario);
    background: var(--background);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    /*/margin: 0 10px;/*/
    height: .5em;
    border-radius: 10em;
}

.balance__one progress[value]::-webkit-progress-bar,
.balance__two progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}


/*/MAIN_BODY/*/
.main_activities{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100vh;
    padding: 1.5em 0.5em;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background: var(--color-ternario);
    gap: .5em;
}
.activities_service{
    /*background: blue;*/
}
.activities_service h3,
.activities_transactions h3{
    /*background: darkgoldenrod;*/
    text-transform: capitalize;
    font-family: "Poppins_Bold";
    font-size: 1.3em;
    margin-bottom: 20px;
    color: var(--color-primario);
}
.service_cards{
    /*background: olivedrab;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: scroll;
    padding: 0.8em;
    gap: 15px;
}
.service_cards div{
    display: flex;
    min-width: 30%;
    min-height: 150px;
    border-radius: 20px;
    background: linear-gradient(var(--color-primario), var(--color-secundario));
    box-shadow: 0px 0px 20px var(--color-secundario-transparent);
    color: var(--color-ternario);
    font-family: "Poppins_Semibold";
    text-transform: capitalize;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.service_cards_item_1 > i,
.service_cards_item_2 > i, 
.service_cards_item_3 > i{
    color: var(--color-ternario);
    font-size: 4.5em;
}



.activities_transactions{
    /*background: red;*/
}
.transactions_cards{
    /*background: orangered;*/
    height: 460px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 15px;
}
.transactions_cards div{
    /*background: darkgoldenrod;*/
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.crypto{
    height: 30px;
    width: 30px;
}
.crypto0{
    height: 25px;
    width: 25px;
}
/*.transactions_cards div img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}*/
div.transactions_description,
div.transactions_value{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}
div.transactions_description{
    align-items: flex-start;
}
div.transactions_value{
    align-items: flex-end;
}

div.transactions_description p,
div.transactions_value p{
    font-family: "Poppins_Bold";
    color: var(--color-primario);
}
div.transactions_description small,
div.transactions_value small{
    font-family: "Poppins-Light";
    color: var(--color-secundario);
}



footer{
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}
footer ul {
    margin: 0.5em 0;
    display: flex;
    justify-content: space-around;
}
footer ul li {
    list-style: none;
}
footer ul li a i{
    font-size: 1.8em;
    text-align: center;
    color: var(--color-ternario);
}