:root{
    --color-primario: #416D19; 
    --color-secundario: #8bc53f;
    --color-secundario-transparent: #e1f0da;
    --color-ternario: #ffffff;
    --color-cuarto: #f9ea8c;
    
}
@font-face {
    font-family: "Poppins_Black";
    src: url(../storage/font/Poppins-Black.ttf);
}
@font-face {
    font-family: "Poppins_Black_Italic";
    src: url(../storage/font/Poppins-BlackItalic.ttf);
}
@font-face {
    font-family: "Poppins_Bold";
    src: url(../storage/font/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins_Bold_Italic";
    src: url(../storage/font/Poppins-BoldItalic.ttf);
}
@font-face {
    font-family: "Poppins_Extrabold";
    src: url(../storage/font/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: "Poppins_Extrabold_Italic";
    src: url(../storage/font/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: "Poppins_Extralight";
    src: url(../storage/font/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: "Poppins_Extralight_Italic";
    src: url(../storage/font/Poppins-ExtraLightItalic.ttf);
}
@font-face {
    font-family: "Poppins_Italic";
    src: url(../storage/font/Poppins-Italic.ttf);
}
@font-face {
    font-family: "Poppins_Light";
    src: url(../storage/font/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins_Light_Italic";
    src: url(../storage/font/Poppins-LightItalic.ttf);
}
@font-face {
    font-family: "Poppins_Medium";
    src: url(../storage/font/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins_Medium_Italic";
    src: url(../storage/font/Poppins-MediumItalic.ttf);
}
@font-face {
    font-family: "Poppins_Regular";
    src: url(../storage/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins_Semibold";
    src: url(../storage/font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins_Semibold_Italic";
    src: url(../storage/font/Poppins-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "Poppins_Thin";
    src: url(../storage/font/Poppins-Thin.ttf);
}
@font-face {
    font-family: "Poppins_Thin_Italic";
    src: url(../storage/font/Poppins-ThinItalic.ttf);
}