<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--<div class="circularBackground">
        <img src="../storage/img/circularBackground.svg" alt="">
    </div>-->
    <header class="header">
        <div class="header__logo">
            <div class="logo_icono">
                <img src="../storage/img1/geckoLogo.svg" alt="" class="icono_img">
            </div>
            <div class="logo__titulo">coingecko</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>
    <main class="main">
        <section class="balance">
            <article class="balance_circle">
                <div class="circle_item1"></div>
                <div class="circle_item1"></div>
                <div class="circle_item1"></div>
                <div class="circle_item1"></div>
                <div class="circle_item1"></div>
            </article>
            <article class="balance_total">
                <div>
                    <h3>Total</h3>
                    <h5>Balance</h5>
                    <h2><sub>$</sub>214,417</h2>
                </div>
            </article>
        </section>
        <section class="report">
            <article class="report_accounting">
                <button>assets</button>
                <button>debt</button>
                <button>income</button>
            </article>
            <article class="report_week">
                <img src="../storage/img1/report0.svg" alt="">
            </article>
        </section>
        <section class="process">
            <article class="process_card">
                <div class="card_image">
                    <i class='bx bxs-credit-card'></i>
                </div>
                <div class="card_description">
                    <div class="description_close2">
                        <i class='bx bx-x-circle'></i>
                    </div>
                    <div>
                        <h3>Spending.</h3>
                        <p>You forgot to add debt card number at payment #1323. Add it now.</p>
                    </div>
                </div>
            </article>
        </section>
        <!--<div class="circulo">
            <h2>Total</h2>
            <h2>Balance</h2>
            <h2><sub>$</sub>214,417</h2>
        </div>-->
        <!--<section class="main_statistics">
            <article class="statistics_one">
                <div>Assets</div>
                <div>Debt</div>
                <div>Income</div>
            </article>
            <img src="../storage/img/graficaBalance.png" alt="">
            <article class="statistics_two">
                <p>S</p>
                <p>M</p>
                <p>T</p>
                <p>W</p>
                <p>T</p>
                <p>F</p>
                <p>S</p>
            </article>
        </section>
        <section class="main_spending">
            <div class="spending_img">
                <img src="../storage/img/creditCard.svg" alt="">
            </div>
            <article class="spending_text">
                <div class="description_close2">
                    <i class='bx bx-x-circle'></i>
                </div>
                <h2>Spending.</h2>
                <p>You forgot to add debt card number at payment #1323. Add it now.</p>
            </article>
        </section>-->
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><i class='bx bxs-home'></i></a>
            </li>
            <li>
                <a href="balance.html"><i class='bx bxs-book-bookmark'></i></a>
            </li>
            <li>
                <a href="cards.html"><i class='bx bxs-widget'></i></a>
            </li>
            <li>
                <a href=""><i class='bx bxs-bell' ></i></a>
            </li>
            <li>
                <a href="../index.html"><i class='bx bxs-user-circle'></i></a>
            </li>

        </ul>
    </footer>
</body>
</html>