<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo_icono">
                <img src="storage/img/logo.svg" alt="">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">
        <h3 class="title_1">Investing Tips</h3>
        <section class="main_banner">
            <div class="banner_public">
                <div class="public_logo">
                    <img src="../storage/img/pig.svg" alt="">
                </div>
                <div class="public_description"> 
                    <div class="description_close"><i class='bx bx-x-circle'></i></div>
                    <p>What is an ETF?</p>
                    <small>By James B, PHD</small>
                    <button>Learn More</button>
                </div>
            </div>
        </section>
        <h3 class="title_2">My Cards (4)</h3>
        <section class="main_cards">
            <article class="cards_item">
                <small>**** 6175</small>
                <h2><sub>$</sub>47.417</h2>
                <img src="../storage/img/visa.svg" alt="">
            </article>
            <article class="cards_item">
                <small>**** 6175</small>
                <h2><sub>$</sub>47.417</h2>
                <img src="../storage/img/visa.svg" alt="">
            </article>
            <article class="cards_item">
                <small>**** 6175</small>
                <h2><sub>$</sub>47.417</h2>
                <img src="../storage/img/visa.svg" alt="">
            </article>
        </ssection>
    </main>

    <footer>
        <ul>
            <li>
                <a href="#"><img src="storage/img/icon.svg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="storage/img/icon_1.svg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="storage/img/icon_2.svg" alt=""></a>
            </li>
            <li>
                <a href=""><img src="storage/img/icon_3.svg" alt=""></a>
            </li>
            <li>
                <a href=""><img src="storage/img/icon_4.svg" alt=""></a>
            </li>

        </ul>
    </footer>
</body>
</html>