<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <div class="logo_icono">
                <img src="../storage/img1/geckoLogo.svg" alt="" class="icono_img">
            </div>
            <div class="logo_titulo">coingecko</div>
        </div>
        <div class="header_menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">
        <h3 class="main_title">Investing Tips</h3>
        <section class="main_banner">
            <div class="banner_public">
                <div class="public_logo">
                    <div> 1 </div>
                    <img src="../storage/img1/nft.png" alt="">
                </div>
                <div class="public_description"> 
                    <div class="description_close">
                        <i class='bx bx-x-circle'></i>
                    </div>
                    <p>What is an NFT?</p>
                    <small>By James B, PHD</small>
                    <button>Learn More</button>
                </div>
            </div>
        </section>
        <h3 class="main_title2">My NFT's (4)</h3>
        <section class="main_cards">
            <article class="cards_item">            
                <small>Chimpers #4718</small>
                <h2><sub>$</sub>0.379</h2>
            </article>
            <article class="cards_item">    
                <small>Chimpers #1583</small>
                <h2><sub>$</sub>0.6</h2>
            </article>
            <article class="cards_item">   
                <small>Chimpers #965</small>
                <h2><sub>$</sub>0.65</h2>
            </article>
            <article class="cards_item">
                <small>Chimpers #1266</small>
                <h2><sub>$</sub>0.65</h2>
            </article>
        </section>
    </main>

    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg" alt=""></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon_1.svg" alt=""></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/icon_3_select.svg" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../storage/img/icon_3.svg" alt=""></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon_4.svg" alt=""></a>
            </li>

        </ul>
    </footer>
</body>
</html>
